<ion-view view-title="Berita">
  <ion-content>
      <div class="list card">
        <div class="item">
          <h2>Kabut Asap Datang kembali</h2>
          <p>Oktober 25, 2015</p>
        </div>

        <div class="item item-body">
          <p>
            Kabut Asap datang kembali, balita menjadi korban.
            Kabut ini sudah terjadi selama beberap hari..
            Ratusan anak balita menjadi korban..
            Dibutuhkan bantuan :
            - Donasi BCA. 9900234122
            - Voluenter untuk pos evakuasi
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-paper-airplane"></i>
            Berikan Bantuan
          </a>
        </div>
      </div>

      <div class="list card">
        <div class="item">
          <h2>Wabah penyakit DBD di musim kemarau</h2>
          <p>Oktober 25, 2015</p>
        </div>

        <div class="item item-body">
          <p>
            Musim kemarau membuat orang banyak berkeringat,
            sumber keringat ini menjadi endapan air yang banyak disukai oleh nyamuk.
            harap telf 14122 untuk melakukan langkah pencegahan. lindungi keluar anda tercinta
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-paper-airplane"></i>
            Bagikan Informasi
            <a class="button button-icon icon ion-social-twitter"></a>
            <a class="button button-icon icon ion-social-facebook"></a>
            <a class="button button-icon icon ion-social-googleplus"></a>
            <a class="button button-icon icon ion-social-whatsapp-outline"></a>
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>
