<ion-view view-title="Laporkan">
  <ion-content>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Penyakit
          </div>
          <select>
            <option selected>Diare</option>
            <option>Kaki Gajah</option>
            <option>Sesak Nafas</option>
            <option>Influenze</option>
            <option>Keracunan</option>
          </select>
        </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Jumlah Orang</span>
                <input type="text" placeholder="Contoh : 7">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Alamat</span>
                <input type="text" placeholder="Contoh : Sukasari, Bogor">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Kode Pos</span>
                <input type="text" placeholder="Contoh : 16142">
            </label>
            <button class="button button-block button-positive">
              Laporkan
            </button>
        </div>
  </ion-content>
</ion-view>
